/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

.mainArea
{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
}
div > h2 {
  display: flex;
  justify-content: center;
}
