<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled:currentPage === 0}">
      <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
    </li>

    <ng-container *ngFor="let image of images; let i = index">
      <li class="page-item"
      [ngClass]="{active:i === currentPage}"
      
    >
      <a (click)="currentPage = i" class="page-link">{{i + 1}}</a>
    </li>
    </ng-container>


    <li class="page-item" [ngClass]="{disabled:currentPage === images.length -1}">
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h2>{{images[currentPage].title}}</h2>
  <img [src]="images[currentPage].url">
</div>

<!--[ngClass]="i === currentPage ? 'active' : 'passive'"  -->

